.caseStudyInNutshell {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	gap: 20px;

	@include breakpoint(phone) {
		flex-direction: row;
	}

	&__point {
		display: flex;
		align-items: center;
		gap: 5px;
		margin-right: 20px;
		font-size: 1.4rem;
		max-width: 500px;
	}

	svg {
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 5px;
	}
}
