.caseStudyMap {
	padding: 2rem 0 10rem 0;
	text-align: center;
	pointer-events: none;
	max-width: 1000px;
	margin: 0 auto;

	svg {
		pointer-events: none;
	}

	&__title {
		margin-bottom: 4rem;
	}

	&__image {
		display: block;
		max-width: 100%;
		height: auto;
	}

	&__genericMap {
		margin-top: -5rem;
	}
}
