.caseStudyMap {
	padding: 20px 0;
	text-align: center;
	pointer-events: none;
	touch-action: none;

	svg {
		pointer-events: none;
		touch-action: none;
	}

	&__title {
		@include breakpoint(tablet) {
			position: relative;
			top: 4rem;
		}
	}
}
