.caseStudyMap {
	padding: 20px 0;
	text-align: center;
	pointer-events: none;
	touch-action: none;

	svg {
		pointer-events: none;
		touch-action: none;
	}

	&__title {
		margin-bottom: 4rem;
	}

	&__image {
		display: block;
		max-width: 100%;
		height: auto;
	}
}
