.caseStudyScopeOfWork {
	--max-container-width: 900px;

	margin-bottom: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		margin-bottom: 3rem;
	}

	&__description {
		white-space: pre-line;
		max-width: var(--max-container-width);
	}

	&__list {
		margin-top: 0.5rem;
		width: 100%;
		max-width: var(--max-container-width);
		line-height: 1.8;
	}

	&__listItem {
		position: relative;
		text-align: left;
		padding: 1rem;
		margin-left: 4rem;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -2rem;
			background: var(--color-primary);
			height: 3px;
			width: 15px;
			border-radius: 2px;
		}
	}
}
