.articlesHeader {
  --container-vertical-padding: 5rem;

  .subpageIntro__title {
    margin-bottom: 0;
  }
}

.articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-bottom: 10rem;

  @include breakpoint(phone-sm) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item--1 {
    @include breakpoint(tablet) {
      grid-column: 1 / span 2;
    }
  }
}
