.errorPage {
	@include flex-center;
	flex-direction: column;
	height: 93vh;
	margin-top: 2rem;

	@include breakpoint(tablet) {
		margin-top: 4rem;
	}

	&__title {
		font-size: 3rem;
	}

	&__subtitle {
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}

	&__image {
		object-fit: contain;
		height: auto;
		width: 100%;
		max-height: 60vh;
	}
}
