.homepagePage {
	.mainContainer {
		margin-top: 0;
	}

	&.transparent-header .site-header {
		border-bottom: none;
		background-color: transparent;

		.btn-hamburger {
			&:before,
			&:after,
			span {
				background-color: white;
			}
		}

		.site-logo path {
			fill: white;
		}

		a,
		i,
		button {
			color: white;
			i {
				color: white;
			}
		}

		.site-nav--open a {
			color: var(--color-text);
		}
	}
}
