.gameMode {
	.pageIntro__content,
	.site-header__wrapper {
		animation: slideIn 2s forwards;
		animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	}
	//.site-header, .pageIntro__content {
	//  display: none;
	//}
}

@keyframes slideIn {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(8000px);
	}
}

.Game-canvas {
	width: 100%;
}

.Game-score {
	font-family: 'Bungee Hairline', Menlo, Consolas, monospace;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-weight: bold;
	font-size: 2rem;
	color: white;
	padding: 1rem;
}

.gameTitleScreen {
	font-family: 'Bungee Hairline', Menlo, Consolas, monospace;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	min-height: 100vh;
	@include flex-center;
	flex-direction: column;
	gap: 20px;
	color: var(--color-text-gray);
	font-size: 2rem;
}

.gameTitleScreen-game-over {
	color: white;
	font-size: 5rem;
}