.gameStartButton {
	display: none;
	z-index: 9;
	position: absolute;
	right: -50px;
	top: 5px;
	cursor: pointer;

	@include breakpoint(tablet) {
		display: block;
	}

	&--launch {
		animation: flight 1.5s ease forwards;
	}

	&__tooltip {
		background-color: var(--color-primary);
	}

	&:hover {
		.rumble {
			animation: rumble 1s infinite (1s / 3) reverse;
		}
	}
}
