$launchLength: 1s;

.gameStartButton {
	display: none;
	z-index: 9;
	position: absolute;
	right: -50px;
	top: 5px;
	cursor: pointer;

	@include breakpoint(tablet) {
		display: block;
	}

	&--launch {
		animation: flight 1.5s ease infinite;
	}

	&__tooltip {
		background-color: var(--color-primary);
		margin-top: -1rem;
	}

	&:hover {
		.rumble {
			animation: rumble 1s infinite ($launchLength / 3) reverse;
		}
	}
}

.loading {
	transform: rotate(-46deg);
	max-width: 4rem;
	width: 100%;

	.background {
		fill: transparent;
	}

	.arrow {
		fill: var(--color-primary);
	}

	.gradient {
		stop {
			stop-color: #fff;
			stop-opacity: 0.2;
		}

		stop:last-child {
			stop-opacity: 0;
		}
	}

	.gradientBox {
		fill: url('#gradient');
	}

	.filteredGroup {
		filter: url('#stickyFilter');
	}

	.line {
		animation-iteration-count: infinite;
		stroke: var(--color-primary);
	}

	.lineThick {
		animation-name: drawThick;
		animation-timing-function: linear;
	}

	.lineDots {
		animation-name: drawDots;
		animation-timing-function: linear;
		stroke-dasharray: 0, 30;
		stroke-width: 5.5;
	}

	.lineStatic {
		animation-name: drawStatic;
		animation-timing-function: ease;
		stroke-dasharray: 22;
		stroke-width: 8;
	}

	.line1 {
		animation-duration: 1.6s;
		stroke-dasharray: 8, 22, 3, 27, 16, 14;
		stroke-width: 4;
	}

	.line2 {
		animation-duration: 1.3s;
		stroke-dasharray: 18, 12, 10, 20, 3, 27;
		stroke-width: 6;
	}

	.line3 {
		animation-duration: 1.4s;
		stroke-dasharray: 3, 27, 10, 20, 20, 10;
		stroke-width: 4;
	}

	.line4 {
		animation-duration: 0.4s;
	}

	.line5 {
		animation-duration: 0.7s;
	}

	.line6 {
		animation-duration: 0.8s;
	}

	.line7 {
		animation-duration: 0.6s;
	}
}
