.gameButton {
	position: absolute;
	top: 4rem;
	z-index: 9999999;
	right: 5%;
	color: white;
}

.gameMode {
	.pageIntro__content, .site-header__wrapper {
		animation: slideIn 2s forwards;
		animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
	}
	//.site-header, .pageIntro__content {
	//  display: none;
	//}
}

@keyframes slideIn {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(8000px);
	}
}

.Game-canvas {
	width: 100%;
}

.Game-score {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-family: 'Bungee Hairline', Menlo, Consolas, monospace;
	font-weight: bold;
	font-size: 2rem;
	color: #fff;
	padding: 1rem;
}

.TitleScreen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.TitleScreen-title {
	font-family: 'Bungee Hairline', Menlo, Consolas, monospace;
	font-weight: bold;
}

.TitleScreen-game-start {
	font-size: 8rem;
}

.TitleScreen-game-over {
	font-size: 5rem;
}

.TitleScreen-message {
	font-family: Menlo, Consolas, monospace;
	font-size: 1.5rem;
	font-weight: normal;
}
