html {
	overflow-x: hidden;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	overflow-x: hidden;
	box-sizing: border-box;
	background-color: white;
	font-family: var(--main-font);
	color: var(--color-text);
	line-height: 1.4;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}

input,
textarea,
button,
select {
	border: none;
	background: none;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: var(--main-font);
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--color-gray);
}
