.button {
  padding: 12px 24px;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  transition: .6s;
  overflow: hidden;
  position: relative;

  &--default {
    color: white !important;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  &--border {
    border: 1px solid white;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;

    &:before {
      transform: translateX(300px) skewX(-15deg);
      opacity: 0.6;
      transition: .7s;
    }

    &:after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }
  }
}