.careerHeader {
	gap: 20px;
	display: flex;
	flex-direction: column;
	padding: 40px 0 40px 0;
	background: var(--background-gradient);

	@include breakpoint(tablet) {
		padding: 20px 0 40px 0;
		flex-direction: row;
		@include flex-center;
	}

	&__texts {
		gap: 10px;
		display: flex;
		flex-direction: column;

		@include breakpoint(tablet) {
			width: 50%;
		}
	}

	&__imageWrapper {
		text-align: center;

		@include breakpoint(tablet) {
			width: 50%;
		}
	}

	&__image {
		max-height: 100%;
		width: auto;
		object-fit: contain;
	}
}
