.contactFormWrapper {
	&__title {
		margin-bottom: 20px;
		font-size: 2rem;
	}

	@include breakpoint(tablet) {
		border-radius: 8px;
		background-color: white;
		border: 1px solid var(--border-color);
		padding: 32px;
	}
}

.contactForm {
	display: flex;
	flex-direction: column;

	&__input {
		border: 1px solid var(--border-color);
		padding: 8px 16px;
		font-size: 1.6rem;
		margin-bottom: 20px;
		border-radius: 8px;
		width: 100%;
		max-width: 100%;
	}

	&__input--text-area {
		min-width: 100%;
	}

	&__nameWrapper {
		display: flex;
		gap: 20px;
	}

	&__label {
		font-weight: 600;
		margin-bottom: 5px;

		&:after {
			color: var(--color-red);
			content: ' *';
			margin-left: 3px;
		}
	}

	&__checkBoxLabel {
		cursor: pointer;
		line-height: 100%;

		span {
			text-decoration: underline;
		}
	}

	&_formWrapper {
		width: 50%;
	}
}
