.siteFooter {
	background-color: var(--color-dark-background);
	padding: 50px 0 50px 0;
	color: white;
	background-image: url('/images/footer-background.svg');
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: 100% 160px;

	@include breakpoint(phone) {
		padding-top: 90px;
	}

	&__top {
		@include breakpoint(phone) {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 30px;
		}
		@include breakpoint(tablet) {
			flex-wrap: nowrap;
		}
	}

	&__description {
		margin-right: auto;

		@include breakpoint(phone) {
			width: 400px;
		}
	}

	&__subtitle {
		font-size: 2.4rem;
		font-weight: 600;
		line-height: 120%;
		margin-top: 10px;
	}

	&__links {
		font-weight: 500;
		margin-bottom: 20px;
		display: none;

		@include breakpoint(tablet) {
			display: block;
			width: auto;
		}

		a {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}

	&__copyright {
		font-size: 1.4rem;
		margin-top: 20px;
	}
}
