.joinUs {
	@include flex-center;
	flex-direction: column;
	margin-top: 50px;
	padding: 40px 16px;
	gap: 20px;
	position: relative;
	background: var(--color-light-background);
	overflow: hidden;

	@include breakpoint(phone) {
		background: none;
	}

	&__image {
		width: auto;
		height: 140%;
		object-fit: contain;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
		display: none;

		@include breakpoint(phone) {
			display: block;
		}
	}

	&__title {
		font-size: 3.2rem;
	}

	&__button svg {
		font-size: 2rem;
	}
}
