.joinUs {
	@include flex-center;

	flex-direction: column;
	background-image: url('/images/join-background.png');
	background-size: auto;
	text-align: left;
	background-position: 50% 0;
	margin-top: 50px;
	padding: 30px 16px;
	gap: 20px;

	&__title {
		font-size: 3.2rem;
	}

	&__description {
	}

	&__button {
	}
}
