.notFoundJobBanner {
	background-color: var(--color-dark-background);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3rem 2rem;
	gap: 20px;
	width: 100%;
	border-radius: var(--border-radius);

	@include breakpoint(tablet) {
		padding: 5rem 7rem;
	}

	&__header {
		font-weight: 600;
		color: white;
		font-size: 2rem;
	}
}
