.positionDetails {
	padding: 80px 0 60px 0;
	border-top: 1px solid var(--border-color);
	scroll-margin-top: var(--mobile-navbar-height);

	@include breakpoint(tablet) {
		scroll-margin-top: var(--desktop-navbar-height);
	}

	&--withBackground {
		background: #f2f5f8;
	}

	&__top {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;

		@include breakpoint(tablet) {
			flex-direction: row;
			gap: 50px;
		}
	}

	&__number {
		font-weight: bold;
		color: #eaeaeb;
		font-size: 5rem;
		left: -5px;
		position: absolute;
		z-index: -1;
		top: -6rem;

		@include breakpoint(tablet) {
			font-size: 8rem;
			top: -6rem;
			left: -6rem;
		}
	}

	&__name {
		font-size: 4rem;
		position: relative;
		z-index: 2;

		@include breakpoint(tablet) {
			width: 40%;
		}
	}

	&__description {
		white-space: pre-line;

		@include breakpoint(tablet) {
			width: 60%;
		}
	}

	&__technologyWrapper {
		display: block;
		padding: 1rem 0 1rem 0;
	}

	&__technology {
		filter: invert(1);
		height: 30px;
		width: auto;
		margin-right: 2rem;
	}
}
