.positionDetails {
	padding: 70px 0 50px 0;
	border-top: 1px solid var(--border-color);
	scroll-margin-top: 100px;

	&__top {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;

		@include breakpoint(tablet) {
			flex-direction: row;
			gap: 50px;
		}
	}

	&__number {
		font-weight: bold;
		color: #eaeaeb;
		font-size: 3.2rem;
		position: absolute;
		z-index: -1;
		top: -40px;

		@include breakpoint(tablet) {
			font-size: 5.6rem;
			top: -40px;
			left: -16px;
		}
	}

	&__name {
		font-size: 3.2rem;
		margin-bottom: 10px;
		position: relative;

		@include breakpoint(tablet) {
			width: 40%;
		}
	}

	&__description {
		@include breakpoint(tablet) {
			width: 60%;
		}
	}

	&__technology {
		filter: invert(1);
		height: 40px;
		width: auto;
		margin-right: 2rem;
	}

	&__scope {
	}

	&__scopeTitle {
		font-size: 24px;
	}

	&__scopeDescription {
	}
}
