.site-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	height: 65px;
	color: white;
	transition: all 0.3s ease;

	@include breakpoint(tablet) {
		height: 100px;
	}

	&__languageButton {
		text-transform: uppercase;
		padding: 12px;
		position: absolute;
		right: 5px;
		color: white;
		font-size: 1.6rem;
		overflow: hidden;
		display: none;
		transition: color 0.3s ease;

		&:hover {
			color: var(--color-primary) !important;
		}

		@include breakpoint(tablet) {
			display: block;
		}
	}

	&__hire-button {
		display: none;

		@include breakpoint(tablet) {
			display: block;
			position: absolute;
			right: 5rem;
		}
	}

	.btn-hamburger {
		&:before,
		&:after,
		span {
			background-color: white;
		}
	}

	&__wrapper {
		display: flex;
		height: 100%;
		align-items: center;
		max-width: var(--max-container-width);
		padding-left: var(--container-horizontal-padding);
		padding-right: var(--container-horizontal-padding);
		margin-right: auto;
		margin-left: auto;
		position: relative;
	}

	.site-logo path {
		fill: #fff;
	}

	.site-header__btn-menu {
		@include breakpoint(tablet) {
			display: none;
		}
	}

	.site-header__actions {
		margin-left: auto;
		@include flex-center;
	}

	.site-nav {
		top: 0;
		right: -250px;
		width: 250px;
		z-index: 9999;
		height: 100vh;
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		background-color: #fff;
		transition: all 0.3s ease;
		border-left: 1px solid #e5e5e5;
		@include breakpoint(tablet) {
			position: relative;
			height: auto;
			right: 0;
			width: auto;
			border: none;
			background-color: transparent;
		}

		&.site-nav--open {
			right: 0;
		}

		a {
			width: 100%;
			color: black;
			display: block;
			text-align: left;
			padding: 15px 18px;

			@include breakpoint(tablet) {
				width: auto;
				padding: 0;
				color: #fff;
				margin-right: 50px;
				display: inline-block;

				&:nth-last-child(1) {
					margin-right: 0;
				}
			}
		}
	}

	&.site-header--fixed {
		border-bottom: 1px solid #e5e5e5;
		background-color: #fff;

		.btn-hamburger {
			&:before,
			&:after,
			span {
				background-color: black;
			}
		}

		a,
		i {
			color: black;
		}

		button {
			color: black;

			i {
				color: black;
			}
		}

		.site-logo path {
			fill: black;
		}
	}
}

.site-logo {
	display: flex;
	align-items: center;

	svg {
		width: 95px;
		height: 40px;
		object-fit: contain;
		margin-right: 15px;
	}
}
