.subpageIntro {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: var(--background-gradient);
	padding: var(--container-vertical-padding) 0;

	&__title {
		margin-bottom: 20px;
	}

	&__description {
		margin: 0 auto;
		max-width: 700px;
	}
}
