.teamStats {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	margin-top: -10rem;

	&__wrapper {
		color: white;
		font-size: 2rem;
		padding: 80px var(--container-horizontal-padding) 60px var(--container-horizontal-padding);
		@include flex-center;
		background: var(--color-primary);
		gap: 20px;

		@include breakpoint(tablet) {
			gap: 40px;
		}
	}

	&__image {
		padding: 0 var(--container-horizontal-padding);
		margin: 0 auto;
		position: relative;
		top: 60px;
		border-radius: var(--border-radius);
		max-width: 1000px;
		width: 100%;
		height: auto;
		object-fit: contain;

		@include breakpoint(tablet) {
			top: 115px;
		}
	}

	&__header {
		text-align: center;
		font-size: 4rem;
		color: white;

		@include breakpoint(tablet) {
			font-size: 5.6rem;
		}
	}
}
