.technologiesCarousel {
	--slide-spacing: 1rem;
	--slide-size: 25%;
	--slide-height: 19rem;
}

.technologiesCarousel__viewport {
	padding: 80px 0;
	overflow: hidden;
}

.technologiesCarousel__container {
	display: flex;
	flex-direction: row;
	height: auto;
	margin-left: calc(var(--slide-spacing) * -1);
}

.technologiesCarousel__slide {
	@include flex-center;
	flex: 0 0 var(--slide-size);
	min-width: 200px;
	padding: 0 50px;
	position: relative;
}

.technologiesCarousel__slide__img {
	display: block;
	height: auto;
	width: auto;
	max-height: 100px;
	max-width: 200px;
	object-fit: cover;
}
