.highlighted-text,
strong {
	color: var(--color-primary);
}

.mainContainer {
	min-height: 60vh;
	margin-top: var(--mobile-navbar-height);

	@include breakpoint(tablet) {
		margin-top: var(--desktop-navbar-height);
	}
}

.products-wrapper {
	margin-bottom: 80px;
}

.container {
	max-width: var(--max-container-width);
	padding-left: var(--container-horizontal-padding);
	padding-right: var(--container-horizontal-padding);
	margin-right: auto;
	margin-left: auto;
}

a:hover {
	opacity: 0.8;
}

.position-relative {
	position: relative;
}
