.highlighted-text {
	color: var(--color-primary);
}

.main-container {
	margin-top: 100px;
	min-height: 60vh;

	&--homepage {
		margin-top: 0;
	}
}

.products-wrapper {
	margin-bottom: 80px;
}

.container {
	max-width: var(--max-container-width);
	padding-left: var(--container-horizontal-padding);
	padding-right: var(--container-horizontal-padding);
	margin-right: auto;
	margin-left: auto;
}
