.subpageIntro {
	text-align: center;
	min-height: 35vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: var(--section-background-gradient);

	&__title {
		margin-bottom: 20px;
	}

	&__description {
		margin: 0 auto;
		max-width: 700px;
	}
}
